/* form elements */

.submit-btn {
	background: #f35f0c;
	width: 28%;
	height: 80px;
	border-radius: 45px;
	font-size: 28px;
	line-height: 34px;
	color: #ffffff;
	border: none;
	align-items: center;
	margin-top: 37px;
	margin-bottom: 60px;
}

.input-area {
	width: 50%;
	min-width: 150px;
	height: 7.3%;
	background: rgba(212, 181, 152, 0.24);
	border: none;
	/* margin-top: 37px; */
	margin-top: 4.3%;
	margin-left: 24px;
	padding-left: 21px;
	padding-top: 19px;
	padding-bottom: 18px;
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
	font-size: 20px;
	line-height: 29px;

	color: black;
}

::placeholder {
	color: #999999;
}

.input-area:focus {
	outline: none !important;
	border: 0.5px solid #e4793b;
}

.submit-btn:disabled {
	cursor: not-allowed;
	pointer-events: all !important;
	background-color: #ff8c4a;
}

.submit-btn:enabled {
	cursor: pointer;
}

/* scrollbar */

::-webkit-scrollbar {
	width: 0.25rem;
}

::-webkit-scrollbar-thumb {
	background-color: #f35f0c;
}

::-webkit-scrollbar-track {
	background-color: #1e1e24;
}

/* modal */

.modal-submit-btn {
	background: #f35f0c;
	width: 28%;
	height: 60px;
	border-radius: 45px;
	font-size: 18px;
	line-height: 28px;
	color: #ffffff;
	border: none;
	align-items: center;
	margin-top: 30px;
	margin-bottom: 20px;
}

.modal-submit-btn:disabled {
	cursor: not-allowed;
	pointer-events: all !important;
	background-color: #ff8c4a;
}

.modal-submit-btn:enabled {
	cursor: pointer;
}

/* searach box */
.search-input-area {
	display: flex;
	width: 150px;
	height: 20px;
	background: white;
	border: 0.5px solid rgb(192, 181, 181);
	border-radius: 5px;
	margin-left: 24px;
	margin-top: 10px;
	padding-top: 18px;
	padding-bottom: 13px;
	padding-left: 8px;
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
}

.search-input-area:focus {
	outline: none !important;
	border: 0.5px solid #f35f0c;
	box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.109);
}
